.navbar {
  display: flex;
  max-width: 90%;
  margin: 0px auto;
  height: 150px;
  justify-content: space-between;
}

.navbar .logo-image {
  margin: auto 0px;
  float: left;
  height: 70%;
}

.navbar-tabs {
  display: flex;
  height: 100%;
  float: right;
  justify-content: center;
}
